<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wishing well</title>
    <style>

button {
  background-color: darkviolet;
  color: white;
  padding: 50px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 40px;
}

button:hover {
  opacity:1;
}


.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


  }
}





</style>
</head>
<body>

<button onclick="document.getElementById('b').style.display='block'">להעניק לרצונותיך!</button>

<button onclick="document.getElementById('y').style.display='block'">איפה להתנדב</button>



<div id="y" class="modal">
  <span onclick="document.getElementById('y').style.display='none'" >
  <form class="modal-content" action="GET">
    <div class="container">

<a href="https://www.elem.org.il/">
<img src="/static/1.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.masaisraeli.co.il/">
<img src="/static/2.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="http://www.ivolunteer.org.il/">
<img src="/static/3.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.matav.org.il/">
<img src="/static/4.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.pitchonlev.org.il/">
<img src="/static/5.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.amdocs.com/">
<img src="/static/6.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.shekel.org.il/">
<img src="/static/7.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://rakefet-group.org.il/">
<img src="/static/8.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.chiburim.co.il/">
<img src="/static/9.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://jdrf.org.il/">
<img src="/static/10.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.maccabi4u.co.il/">
<img src="/static/12.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.cpchess.org/">
<img src="/static/13.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://yedidut.org.il/">
<img src="/static/14.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.facebook.com/kolhaderech/">
<img src="/static/15.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.yehud-monosson.muni.il/">
<img src="/static/16.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://ksh.org.il/%d7%93%d7%a3-%d7%94%d7%91%d7%99%d7%aa/">
<img src="/static/17.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.ecoocean.org/">
<img src="/static/18.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://www.alonandella.com/">
<img src="/static/19.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://caregivers.org.il/">
<img src="/static/20.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>


<a href="https://www.strauss-group.co.il/aboutus/">
<img src="/static/21.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://aiboys.co.il/">
<img src="/static/22.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>


<a href="https://www.heseg.com/">
<img src="/static/23.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

<a href="https://hakvutza.org/">
<img src="/static/24.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>

      </div>
    </div>
  </form>
</div>











<div id="b" class="modal">
  <span onclick="document.getElementById('b').style.display='none'" >
  <form class="modal-content" action="GET">
    <div class="container">

<a href="https://www.polgat-il.co.il/">
<img src="/static/a1.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.kitan.co.il/">
<img src="/static/a2.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.lev.co.il/">
<img src="/static/a3.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.kravitz.co.il/">
<img src="/static/4.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.pizzahut.co.il/">
<img src="/static/5.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="http://www.moodclub.co.il/">
<img src="/static/6.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.khan.co.il/">
<img src="/static/7.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.castro.com/">
<img src="/static/8.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.goldaglida.co.il/">
<img src="/static/a9.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.crazyline.com/">
<img src="/static/a10.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.aroma.co.il/">
<img src="/static/a12.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.golf-il.co.il/">
<img src="/static/a13.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.legenda.co.il/wp-content/cache/wp-rocket/www.leggenda.co.il/index-https.html_gzip">
<img src="/static/a14.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.intima-il.co.il/">
<img src="/static/a15.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://sacksfashion.com/">
<img src="/static/a16.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.topten-fashion.com/">
<img src="/static/a17.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.urbanica-wh.com/">
<img src="/static/a18.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.aldoshoes.co.il/">
<img src="/static/a19.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.golf-il.co.il/">
<img src="/static/a20.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://centhair.co.il/about-cent-hair/">
<img src="/static/a21.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.gade.co.il/pages/all-sale?gclid=CjwKCAjw-e2EBhAhEiwAJI5jg4qTJ5lIc9euOQjw9RpMCT7jTcVTcY8zLoe15oQaUF7V1jfr9lL87hoChNUQAvD_BwE">
<img src="/static/a22.png"  style="width:150px;height:150px;">
</a>
<a href="https://www.cinema-city.co.il/">
<img src="/static/a23.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.boardriders.com/">
<img src="/static/a24.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://shop.mango.com/il">
<img src="/static/a25.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.foxhome.co.il/">
<img src="/static/a26.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.yanga.com/">
<img src="/static/a27.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.facebook.com/thechildrensplace.il/?brand_redir=46687203018">
<img src="/static/a28.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.boardshop.co.il/">
<img src="/static/a29.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.riseup.co.il/">
<img src="/static/a30.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://memoriz.plus/he/">
<img src="/static/a31.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.adhaetzemex.co.il/">
<img src="/static/a32.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://agvania.co.il/">
<img src="/static/a33.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.timberland.co.il/">
<img src="/static/a34.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.leaan.co.il/">
<img src="/static/a35.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.tmisrael.co.il/homepage/ALL/iw">
<img src="/static/a36.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.emanuel-online.com/">
<img src="/static/a37.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://siciliano.co.il/">
<img src="/static/a38.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.sabon.co.il/he/">
<img src="/static/a39.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://tzubawinery.co.il/">
<img src="/static/a40.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.kiftzuba.co.il/">
<img src="/static/a41.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.cameri.co.il/">
<img src="/static/a42.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>
<a href="https://www.alin-beitnoam.org.il/">
<img src="/static/a43.png" alt="HTML tutorial" style="width:150px;height:150px;">
</a>


      </div>
    </div>
  </form>
</div>

    </body>
</html>